*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeaeca;
}

body{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-family: "DM Serif Display", serif;
    text-align: center;
}